body {
    background-color: rgb(255, 254, 249);
    margin: 0;
    display: grid;
    grid-template-rows: 10vh 1fr;
    font-family: "Poppins", sans-serif;
}

h1, h2, p {
    margin: 0;
}

button {
  font-family: inherit;
  font-size: 100%;
}

header, .restaurant-title {
    background-color: rgb(31, 31, 31);
}


/* Header */

header {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.nav-button {
    font-size: calc(0.2rem + 0.6vw + 0.6vh);
    background-color: inherit;
    color: white;
    border: none;
    padding: 7px 2.5vw;
    cursor: pointer;
}

.nav-button:nth-child(-n + 2) {
    border-right: 1px solid gray;
}

.nav-button:first-of-type {
    border-radius: 5px 0 0 5px;
}

.nav-button:last-of-type {
    border-radius: 0 5px 5px 0;
}

.nav-button:hover {
    background-color: rgb(61, 61, 61);
}

.nav-button:active {
    background-color: rgb(81, 81, 81);
}

.selected-button {
    background-color: rgb(71, 71, 71);
}


/* Content */

.home-content, .menu-content, .about-content {
    display: grid;
    grid-template-rows: 15vh 1fr;
    row-gap: 2vh;
    margin-bottom: 3vh;
}

.restaurant-title {
    grid-column: 1 / 3;
    font-size: calc(0.8rem + 1.5vw + 1.5vh);
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2vh;
}

.restaurant-title::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 24vh;
    z-index: -1;
    height: 5px;
    box-shadow: 0px 5px 5px black;
}


/* Home Content */

.home-content {
    grid-template-columns: 1fr 1fr;
    column-gap: 3vw;
}

.restaurant-image {
    width: 50vw;
    margin-left: 2vw;
    border-radius: 10px;
}

.restaurant-info {
    margin: 2vh 5vw 0 0;
    font-size: calc(0.3rem + 0.7vw + 0.7vh);
    font-weight: 500;
    word-spacing: 3px;
}


/* Menu Content */

.menu-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5vw;
    padding: 0 15vw;
}

.menu-card {
    border: 4px solid black;
    border-radius: 10px;
    padding: 1% 10%;
    background-color: rgb(205, 204, 216);
    box-shadow: 5px 4px 1px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dish-name {
    font-size: calc(0.3rem + 1.2vw + 1.2vh);
    font-weight: 600;
}

.dish-image {
    width: 15vw;
    border-radius: 10px;
}

.dish-description {
    font-size: calc(0.1rem + 0.5vw + 0.5vh);
    font-weight: 500;
    margin-top: 2vh;
}

.dish-price {
    font-size: calc(0.2rem + 0.7vw + 0.7vh);
    font-weight: 600;
    color: green;
    margin-top: 1vh;
}


/* About Content */

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 3vw;
}

.about-container > :nth-child(n + 2):nth-child(-n + 4) {
    margin-top: 6vh;
}

.about-container h2:first-child {
    font-size: calc(0.2rem + 1.1vw + 1.1vh);
    font-weight: 600;
    margin-bottom: 1vh;
}

.about-container > :nth-child(-n + 5) h2:first-child::before {
    content: "\2022";
    position: absolute;
    left: 6.5vw;
}

.about-container > :nth-child(6) h2:first-child::before {
    content: "\2022";
    position: absolute;
    left: 35.1vw;
}

.about-container > :nth-child(7) h2:first-child::before {
    content: "\2022";
    position: absolute;
    left: 66vw;
}

.belief, .philosophy, .sourcing, .experience {
    padding: 0 5vw;
}

.belief {
    grid-column: 1 / 4;
}

.philosophy {
    grid-column: 1 / 4;
}

.sourcing {
    grid-column: 1 / 4;
}

.experience {
    grid-column: 1 / 4;
    padding-bottom: 4vh;
    border-bottom: 2px solid black;
}

.experience p:last-of-type {
    margin-top: 1vh;
}

.location, .contact, .hours {
    margin-top: 2vh;
    padding-top: 1vh;
    padding-bottom: 2vh;
}

.location, .contact {
    border-right: 2px solid black;
}

.location {
    padding-left: 5vw;
    padding-right: 2.5vw;
}

.contact {
    padding-left: 2.5vw;
    padding-right: 2.5vw;
}

.hours {
    padding-left: 2.5vw;
}

.about-container > div p {
    font-size: calc(0.2rem + 0.6vw + 0.6vh);
    font-weight: 400;
}